<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% load static %} 
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <title>Courses</title>
</head>
<body>
<h1>Are you sure you want to delete the following course?</h1>
    <p>Name: {{ all_courses.name }}</p>
    <p>Description: {{all_courses.description }}</p>
    <button onclick="window.location.href='http://localhost:8000';"> No </button> <button id = "red" onclick="window.location.href='http://localhost:8000/destroy/{{ all_courses.id }}';"> Remove </button> 
</body>
</html> 