<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% load static %} 
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <title>Courses</title>
</head>
<body>
    <h1>Add a new course</h1>
    {% if messages %}
    <ul class="messages">    
        {% for message in messages %}    
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
        {% endfor %}
    </ul>
    {% endif %}
    <form action="/create" method='POST'>
        {% csrf_token %}
        <label for="name" id="name">Name:</label>
        <input class="name" type="name" name = "name">
        <br><br>
        <div class="description">
            <p id="description">Description:</p><textarea id="text" name="description"></textarea>
        </div>
        <br><br>
        <input type="submit" value="Add" id = "button">
    </form>
    <table border="1">
        <thead>
            <tr>
                <th>Course Name</th>
                <th>Description</th>
                <th>Date Added</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for courses in all_courses %}
            <tr>
                <td> {{ courses.name }}</td>
                <td>{{ courses.description }}</td>
                <td>{{ courses.updated_at }}</td>
                <td><a href = "http://localhost:8000/courses/destroy/{{ courses.id }}">Remove</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</body>
</html> 